@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');
body {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Prompt', sans-serif;
}

.menu {
    width: 650px;
    /* height: 120px; */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 0px;
    row-gap: 20px;
    padding: 10px;
}

.item {
    background-color: #00aeef;
    width: 200px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    will-change: transform;
    transition: transform 450ms;
    border-radius: 10px;
}

.content {
    font-weight: 600;
    text-align: center;
}

.content i {
    font-size: 60px;
}

.item:hover {
    transition: transform 150ms;
    transform: translateY(-10px);
    background-color: #ebebeb;
    color: #000;
}

.countdown {
    width: 400px;
    height: auto;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, rgba(255, 0, 0, 0) 0%, rgba(28, 122, 255, 0.884) 40%, rgba(255, 0, 0, 0) 100%);
    /* display: none; */
}

.text {
    text-align: center;
    color: #fff;
}

.time {
    text-align: center;
    color: rgb(253, 249, 0);
}

#head {
    font-size: 20px;
}